* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #626669;
}

.bg-grey {
  background: #f7f7f7;
}

a {
  color: #626669;
  text-decoration: none;
}

a:hover {
  color: #626669;
}

p {
  margin-bottom: 0;
}

/* Banner */
.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: auto;
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 75%);
}

.banner-text > h1 {
  font-size: 52px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  color: #343a40;
  font-weight: bold;
  padding: 20px 35px;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  border-right: 1px solid #dee2e6;
}

.nav:first-child {
  border-left: 1px solid #dee2e6;
}

.icon {
  color: #4dabf7;
}

/* avatar */
.a-avatar {
  height: 60px;
  position: relative;
  flex-basis: 300px;
}
.avatar {
  transform: scale(8);
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 45%;
}

/* MỤC TIÊU NGHỀ NGHIỆP - THÔNG TIN CÁ NHÂN */
li {
  list-style: none;
  margin-left: -30px;
}

.icon1 {
  color: #4dabf7;
}

.target,
.personal-info {
  padding: 100px 50px 50px;
}

.personal-info {
  background-color: #f1f3f5;
}

/* KINH NGHIỆM ~ KĨ NĂNG  */
.cong-ty {
  position: relative;
}

.cong-ty::before {
  content: "";
  position: absolute;
  background-color: #4dabf7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -30px;
  top: 8px;
}

.job-info .card {
  height: 100%;
}

.icon3 {
  color: #4dabf7;
  width: 55px;
  height: 55px;
  font-size: 24px;
  border: 1px solid #4dabf7;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
}

.dark {
  background-color: #4dabf7;
  height: 2px;
  width: 45px;
  display: inline-block;
}

.light {
  background-color: #dee2e6;
}

/* CHỨNG CHỈ - GIẢI THƯỞNG */
.chung-chi-img {
  width: 230px;
}

.chung-chi1 {
  border-left: 2px solid #f59f00;
}

.chung-chi2 {
  border-top: 2px solid #f59f00;
  padding: 50px 0px 10px;
}

/* DU AN */
.da-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.da-table {
  height: 350px;
  border-collapse: collapse;
}

.column1 {
  width: 25%;
}

.da-name {
  padding: 20px 8px;
  font-weight: bold;
  border: 1px solid #dee2e6;
}

.cv2 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 12px 8px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.cv2-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cv2-2 {
  display: flex;
  align-items: center;
  gap: 32px;
}

tr {
  border: 1px solid #dee2e6;
}

td {
  padding: 12px 12px;
  vertical-align: top;
}

.nen-xanh {
  display: inline-block;
  background-color: #4dabf7;
  color: #fff;
  padding: 0 10px;
  border-radius: 9px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 30px;
  margin-bottom: 0;
}

.icon4 {
  font-size: 30px;
  color: #4dabf7;
}

.footer a {
  color: #343a40;
  display: flex;
  align-items: center;
}

/* PROJECT CHARTER */
.bg-icon {
  background-color: #972bc9;
}

.bb {
  border-bottom: 1px dotted rgb(7, 187, 103);
}

/* link trở về trang digital-cv */
.digital-cv {
  position: absolute;
  top: 20px;
  right: 40px;
}

.digital-cv:hover {
  border: 2px solid #2929da;
}

/* NGOÀI LỀ */
/* tạo box-shadow cho các khối */
.cv,
.kn {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* tạo hiệu ứng cho khối dự án */
.cv:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in;
}
